.navBar {
    position: fixed;
    background-color: rgb(15, 15, 31);
    width: 100%;
}

.logo {
    /* margin-left: 20px; */
    /* position: relative; */
    /* top: 0;
    left: 2rem; */
    height: 50px;
    margin-left: 1rem;
}

.avathar {
    margin-right: 1rem;
    float: right;
    height: 40px;
    width: 40px;
    padding-top: 5px;
}

.navBar h2 {
    float: right;
    color: floralwhite;
}